
*{
    
    box-sizing: border-box;

    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
}


/* ----------------------------------------- */


html{
    scroll-behavior: smooth;
}

body{
    padding-top: 100px;
    background-color: #1c1c1c;
}

h1{
    /* border: 2px solid red; */
    
    padding: 24px;
    display: table;
    margin: auto;
    margin-top: 50px;
    font-size: 250%;
    background-color: #74bda6;
    border-radius: 5px;
}

h3{
    text-align: center;
}

h2{
    display: table;
    margin: auto;
    padding: 5px 20px 5px 20px;
    background-color: #376B5A;
    border-radius: 5px;
}

h4{
    /* border: 2px solid red; */
    display: table;
    margin: auto;
    margin-top: 70px;
    padding: 5px 20px 5px 20px;
    background-color: #163b2e;
    border-radius: 5px;
}

img{
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 60px;
}

hr{
    width: 500px;
    margin-bottom: 60px;
}

table{
    background-color: rgb(202, 202, 202);
}

dt{
    display: table;
    margin: auto;
    padding: 5px 20px 5px 20px;
    background-color: #162b23;
    border-radius: 5px;
}

tr{
    color:black;
}

th{
    color:black;
}

td{
    color: black;
}

/* ----------------------------------------- */


.list{
    /* border: 2px solid red; */
    display: table;
    margin: auto;
    text-align: left;
    padding: 20px;
}

.content{
    /* border: 2px solid red; */
    display: table;
    margin: auto;
    line-height: 30px;
    text-align: center;
    padding: 10px;
}

.table{
    /* border: 2px solid red; */
    display: table;
    margin: auto;
    padding: 10px;
}


.sumario{
    width: fit-content;
    margin: auto;
    padding: 50px;
}

.sumario ul{
    padding-left: 0px;
    list-style: none;
    
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.sumario ul li{
    padding: 8px;
    justify-content: center;
    text-align: center;
    
    font-size: 14px;
    background-color: rgba(168, 168, 168, 0.1);

    border-radius: 5px;
    
}

.sumario ul li a{
    text-decoration: none;
    scroll-behavior: smooth;
}

.sumario ul li:hover{
    background-color: black;
}

/* ----------------------------------------- */


#conceitosHTML{
    /* border: 2px solid green; */
    padding: 28px;
}

#atributos{
    /* border: 2px solid green; */
    padding: 28px; 
    background-color: #141414;
}

#caracReserv{
    /* border: 2px solid green; */
    padding: 28px;
}

#anatomiaHTML{
    padding: 28px;
    /* border: 2px solid green; */
    background-color: #141414;
}

#trabElementos{
    padding: 28px;
    /* border: 2px solid green; */
}

#hyperLinks{
    padding: 28px;
    /* border: 2px solid green; */
    background-color: #141414;
}


#tabelas{
    padding: 28px;
    /* border: 2px solid green; */
}
    
#australopitecus{
    background-color: rgb(211, 93, 93);
}
    
#antedeguemon{
    background-color: rgb(185, 211, 93);
}


#confCabeça{
    padding: 28px;
    /* border: 2px solid green; */
}


#atributos a{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}