
:root{
    --pagebg-color: #f4511e;
    --text-color: white;
}

html{
    background-color: var(--pagebg-color);

    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
    color: var(--text-color);
}

/*----------------------------------------------*/

.intro{
    background-color: #1c1c1c;

    width: 800px;
    height: fit-content;
    border-radius: 10px 10px 0px 0px;

    margin: auto;
    margin-top: 120px;
    padding: 50px;
}

.gitHub{
    background-color: #222222;

    width: 800px;
    height: fit-content;

    margin: auto;
    padding: 50px;
}


/*----------------------------------------------*/



/*----------------------------------------------*/

h1{
    display: table;
    margin: auto;

    background-color: #f4511e;

    padding: 10px 30px;
    border-radius: 3px;
}

h3{
    margin-top: 40px;

    border-bottom: 2px solid #f4511e;
    padding: 0px 0px 4px;
    width: 400px;
}

p{
    margin-top: 30px;
}

ul{
    display: table;
    margin:auto;

    padding: 10px 23px 10px 40px;
    margin-top: 40px;

    background-color: #303030;
    border-radius: 5px;
}

li{
    font-weight: 500;
}

dd{
    margin-left: 20px;
    margin-bottom: 10px;
    color:#929292;
    font-weight: 500;

}

pre{
    display: block;
    background-color: #282a36;
    width: fit-content;

    padding-top: 13px;
    padding-right: 100px;
    color: #f0f989;
    margin-top: 20px;
}
